.container
    display: flex

.contact
    margin-right: 60px
    margin-top: 20px
    text-decoration: none
    font-size: max(15vw, 120px)
    transition: 0.5s
    height: 120px

.contact:hover
    transform: scale(1.1)
    -webkit-filter: drop-shadow( 1px 1px 1px white)
    filter: drop-shadow( 1px 1px 1px white)

a:-webkit-any-link
    color: inherit

.home-card
    width: 350px
    display: inline-block
    margin: 10px
    cursor: pointer
    transition: 0.5s

.home-image
    height: 300px
    object-fit: contain

.mat-card:hover
    transform: scale(1.03)
